* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 20px 5%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo span {
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

section {
  overflow-x: hidden;
}

.promotion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 5%;
}

.promotion-header--title {
  font-weight: 700;
  color: #161616;
}
